
<h1>
  <span class="pull-left"><%= @movie["title"] %></span>
  <span class="pull-right"><%= image_tag @movie["poster_240x342"] %></span>
</h1>
<h3>
  <span class="pull-left">Released <%= @movie["release_date"] %></span>
  <span class="pull-right">Directed by <%= @movie["directors"].collect{ |x| x["name"] }.join(', ') %></span>
</h3>
<p><%= @movie["overview"] %></p>
<hr>

<h2>Reviews</h2>
<br />

<% if @reviews.empty? %>
  <article>
    <h6>No reviews yet :(</h6><br />
  </article>
<% else %>
  <% @reviews.each do |review| %>
    <article>
      <%= rating_in_stars review %>
      From <%= review.email %>, posted <%= time_ago_in_words review.created_at %> ago
      <p><%= review.comment %></p>
      <br />
    </article>
  <% end %>
<% end %>

<%= link_to "Add new review!", new_movie_review_path(params[:id]), class: 'btn btn-primary' %>
